body {
  background-color: #eee;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {

}

header {
  background-color: #000;
  height: 70px;
  margin: 0 auto;
}

ul{
  margin: 0 auto;
}
ul li{
  display: inline-block;
}

input{
  padding: 14px;
  margin: 7px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

input[type="submit"] {
  background-color: #000;
  color: #eee;
}
form {

}
a {
  color: #eee;
  text-decoration: none;
}
footer {
  background-color: #000;
  margin:0 auto auto auto;
}

.main-menu {
  padding: 30px;
}

.main-form {
  margin: 20px;
  text-align: center;
}